<div class="popuptext">
  <h2 class="bigheader">Census Tract: <%= data.TRTLABEL_F %></h2>
  <div class="emphasis"> Lifespan for men: <%= data.men %></div>
  <div class="emphasis"> Lifespan for women: <%= (data.women).toFixed(2)%></div>
  <div class="descript">
    <%
    var averageWomen = 83.300;
    var averageMen = 79.300;
    %>

    <% if (data.women*1 < averageWomen ) { %>
    <p>Women in this tract live <%= (averageWomen - data.women).toFixed(2) %> years under the county average. </p>
    <% } else { %>
    <p>Women in this tract live <%= (data.women - averageWomen).toFixed(2) %> years above the county average. </p>
    <% } %>

    <% if ( (data.men)*1 < averageMen*1 ) { %>
    <p>Men in this tract live <%= (averageMen - data.men*1).toFixed(2) %> years under the county average. </p>
    <% } else { %>
    <p>Men in this tract live <%= (data.men*1 - averageMen).toFixed(2) %> years above the county average. </p>
    <% } %>

  </div>
</div>
