<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Lifespans vary widely across King County</h1>
        <p>A neighborhood level study reveals disparities in life expectancy as high as 18 years for men and 14 years for women. Click on your neighborhood (by census tract) to see average lifespans for men and women, and how they compare to countywide averages: 83.3 years for women; 79.3 years for men.</p>
      </section>

      <div class=buttonRow>
        <input type="radio" name="layer-selection" id="men" checked="checked">
         <label for="men">Men </label>
        <input type="radio" name="layer-selection" id="women">
         <label for="women">Women</label>
      </div>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Average 2014 lifespan (in years)</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #ffffcc"></span> 68-72</li>
            <li>
              <span class="block" style="background-color: #c7e9b4"></span> 72-76</li>
            <li>
              <span class="block" style="background-color: #7fcdbb"></span> 76-80</li>
            <li>
              <span class="block" style="background-color: #41b6c4"></span> 80-84</li>
            <li>
              <span class="block" style="background-color: #2c7fb8"></span> 84+</li>
          </ul>
        </aside>
      </div>

      <div class="source">Source: Institute for Health Metrics and Evaluation
        <span class="credit">ELLIS SIMANI / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
